@import "../../../layout/scss/utils/vars";

.weather-sound-item {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 200px;
	height: 200px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	border-radius: 10px;
	border: 1px solid $border-color;
	cursor: pointer;

	&_icon {
		height: 50px;
		width: 50px;
	}
}
